[Unit]
Description=Add wheel members to docker group

[Service]
Type=oneshot
ExecStart=/usr/bin/davidos-groups
Restart=on-failure
RestartSec=30
StartLimitInterval=0

[Install]
WantedBy=default.target